# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vs/*
.vscode/*
Windows/VisualStudioSolution/VulkanCppWindowedProgram1/x64/*
Windows/VulkanCppWindowedProgram1/VulkanCppWindowedProgram1/x64/*
Windows/VulkanCppWindowedProgram1/.vs/*
Windows/VisualStudioSolution/.vs/*
Windows/VisualStudioSolution/x64/*
Linux/build/*
Linux/CMake/build/*
Linux/CMake/Dependencies/build/*

